require 'pry'
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <p>Team Name: <% binding.pry %></p>
 <p>Coach: </p>
 <p>Point Guard:</p>
 <p>Shooting Guard:</p>
 <p>Power Forward: </p>
 <p>Small Forward: </p>
 <p>Center:</p>


 </body>
</html>


